VITE_FIREBASE_API_KEY=AIzaSyA5w_O7Bbc8pBs6zkrtTxdbhayxwq2RPZY
VITE_FIREBASE_AUTH_DOMAIN=pmmainview.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pmmainview
VITE_FIREBASE_STORAGE_BUCKET=pmmainview.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=929959382758
VITE_FIREBASE_APP_ID=1:929959382758:web:7ed5c61835e98fdec6f527
VITE_FIREBASE_MEASUREMENT_ID=G-L5SHYD52GG
VITE_API_BASE_URL=http://localhost:5000/api/v1
